*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.card1 {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 400px;
    height: 600px;
    background-color: #0000005e;
    
}   

.titulo1 {
    background-color: azure;
    height: 100px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    margin-right: 10px;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 25px;
    font-size: 40px;

}
.imagem {
    width: 350px;
    height: auto;
    margin-top: 20px;
    position: absolute;
    margin-left: 10px;
    
}

.imagem img {
    width: 350px;
    height: auto;
}

.valor1 {
    margin-top: 100%;
    text-align: center;
    background-color: azure;
    height: 100px;
    border-radius: 10px;
}