*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: block;
    align-items: auto;
    justify-content: center;
    background-color: #FFFFFF;
    background-image: linear-gradient(0deg, #c1cbff 0%, #6284FF 50%, #FF0000 100%);
    position: relative;
}

.main {
    margin: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 100px;
    
}

.card1 {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 400px;
    height: 600px;
    background-color: #0000005e;
    position: relative;
    margin: 1%;
    
}   

.titulo1 {
    background-color: rgb(209, 83, 255);
    height: 100px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    color: #fff;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 25px;
    font-size: 30px;

}
.imagem {
    width: 350px;
    height: auto;
    margin-top: 20px;
    position: relative;
    margin-left: 10px;
    overflow: hidden;
    
}

.imagem img {
    width: 350px;
    height: auto;
}

.valor1 {
    background-color: rgb(209, 83, 255);
    height: 100px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 10px;
    
    
  }

  .valor1 h2 {
    margin-left: 10px;
    text-align: center;
  }

  .card1:hover  .titulo1 h2  {
       font-size: 50px;
  }

  .card1 img {
    transition: transform 0.3s ease-out;
  }

  .card1:hover img {
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  .card1:hover  .valor1 h2  {
    font-size: 35px;
}

#titulo2 {
    background-color: rgb(134, 14, 210);
    height: 100px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    color: #fff;
}

#valor2 {
    background-color: rgb(134, 14, 210);
    height: 100px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 10px;
  }

  #titulo3 {
    background-color: #ff0;
    height: 100px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    color: #00f;
}

#valor3 {
    background-color: rgb(255, 255, 0);
    height: 100px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    color: blue;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 10px;
  }

  .card1:hover  .titulo1 h2  {
    font-size: 50px;
} 
.card1:hover  #titulo2 h2  {
    font-size: 50px;
}  
.card1:hover  #titulo3 h2  {
    font-size: 50px;
}

.card1:hover  .valor1 h2  {
    font-size: 35px;
}
.card1:hover  #valor2 h2  {
    font-size: 35px;
}
.card1:hover  #valor3 h2  {
    font-size: 35px;
}


header {
    top: 0;
    position: absolute;
    width: 100%;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #0000004c;
}

#logo img{
    width: 200px;
    height: auto;
    display: flex;
    padding: 10px;
    margin-left: 100%;
    margin-top: 5px;
}

nav {
    margin-right: 14%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  nav a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
  }
  
  nav a:hover::before {
    transform: scaleX(1.0);
  }

  nav li {
    margin-left: 20px;
  } 

  footer{
    bottom: 0;
    position:sticky;
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: #000000af;
}

footer a {
  text-decoration: none;
  margin: 1px;
}

span {
  margin: 1px;
}

footer p{
  display: flex;
  margin-left:42%;
  color: #fff;
  font-size: 20px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #f00;
  transition: color 0.3s ease-in-out;
}

#core {
  margin-bottom: 1px;
}

.texto p{
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 20px;
}
.texto {
  justify-content: center;
  text-align: justify;
  max-width:60%;
  margin-left: 20%;
}